/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'bebas_neuebold';
  src: url("../fonts/bebasneue/bebasneue_bold-webfont.eot");
  src: url("../fonts/bebasneue/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue/bebasneue_bold-webfont.woff") format("woff"), url("../fonts/bebasneue/bebasneue_bold-webfont.ttf") format("truetype"), url("../fonts/bebasneue/bebasneue_bold-webfont.svg#bebas_neuebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto/regular/roboto-regular-webfont.eot");
  src: url("../fonts/Roboto/regular/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/regular/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/Roboto/regular/roboto-regular-webfont.woff") format("woff"), url("../fonts/Roboto/regular/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/Roboto/regular/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto/light/roboto-light-webfont.eot");
  src: url("../fonts/Roboto/light/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/light/roboto-light-webfont.woff2") format("woff2"), url("../fonts/Roboto/light/roboto-light-webfont.woff") format("woff"), url("../fonts/Roboto/light/roboto-light-webfont.ttf") format("truetype"), url("../fonts/Roboto/light/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto/bold/roboto-bold-webfont.eot");
  src: url("../fonts/Roboto/bold/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/bold/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/Roboto/bold/roboto-bold-webfont.woff") format("woff"), url("../fonts/Roboto/bold/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/Roboto/bold/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 57, ../sass/style.scss */
.clear {
  clear: both;
}

/*---------------------------------------------------*/
/* line 61, ../sass/style.scss */
.page {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto-Regular';
}

/* line 68, ../sass/style.scss */
.header {
  position: relative;
  padding-top: 50%;
  background: url("../img/fishies_original.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/* line 76, ../sass/style.scss */
.header-wrapp {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

/* line 86, ../sass/style.scss */
.top-menu .logo-name {
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 32px;
  margin: 0;
  font-family: 'Roboto-Regular';
  color: white;
  letter-spacing: -0.2px;
}
/* line 96, ../sass/style.scss */
.top-menu .logo-name span {
  color: #ED1C24;
}
/* line 100, ../sass/style.scss */
.top-menu .hiden-list-button {
  float: right;
  margin-top: 1.8%;
  margin-right: 4.8%;
}
/* line 104, ../sass/style.scss */
.top-menu .hiden-list-button a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto-Bold';
  font-size: 55px;
  font-weight: bold;
}
/* line 110, ../sass/style.scss */
.top-menu .hiden-list-button a:hover {
  opacity: 0.5;
}

/* line 116, ../sass/style.scss */
.logo {
  position: absolute;
  left: 50%;
  width: 17%;
  top: 42%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/* line 128, ../sass/style.scss */
.header .vertical-pagination {
  position: absolute;
  bottom: 46.5%;
  left: 1.2%;
  width: 50px;
}
/* line 134, ../sass/style.scss */
.header .vertical-pagination a {
  border: 3px solid #fff;
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0.5;
}
/* line 142, ../sass/style.scss */
.header .vertical-pagination a.active {
  opacity: 1;
}
/* line 145, ../sass/style.scss */
.header .vertical-pagination a:hover {
  opacity: 1;
}
/* line 149, ../sass/style.scss */
.header .vertical-pagination p {
  border: 1px solid #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  margin: 7px auto;
}
/* line 158, ../sass/style.scss */
.header .slider-text {
  color: white;
  position: absolute;
  font-family: 'Roboto-Regular';
  bottom: 22.5%;
  left: 11.2%;
}
/* line 164, ../sass/style.scss */
.header .slider-text h2 {
  font-size: 59px;
  margin-left: -8px;
}
/* line 168, ../sass/style.scss */
.header .slider-text .big-text {
  font-size: 59px;
  margin-left: -8px;
  line-height: 80px;
  margin-top: 13px;
  letter-spacing: 1px;
  color: #F2F2F2;
  opacity: 0.7;
}
/* line 177, ../sass/style.scss */
.header .slider-text .litle-text {
  font-size: 24px;
  margin-top: 9px;
  margin-left: 14px;
  font-family: 'Roboto-Light';
  color: #F2F2F2;
  opacity: 0.6;
}
/* line 186, ../sass/style.scss */
.header .horizontal-pagination {
  position: absolute;
  bottom: 16.5%;
  left: 12%;
}
/* line 190, ../sass/style.scss */
.header .horizontal-pagination a {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
  opacity: 1;
}
/* line 197, ../sass/style.scss */
.header .horizontal-pagination a.active {
  background: #fff;
  opacity: 1;
}
/* line 201, ../sass/style.scss */
.header .horizontal-pagination a:hover {
  background: #fff;
}
/* line 204, ../sass/style.scss */
.header .horizontal-pagination span {
  border: 1px solid #fff;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: super;
  background-color: #fff;
}
/* line 214, ../sass/style.scss */
.header .social-wrapp {
  position: absolute;
  right: 3px;
  top: 24.5%;
}
/* line 220, ../sass/style.scss */
.header ul li {
  margin-bottom: 20px;
}
/* line 223, ../sass/style.scss */
.header ul li a img {
  width: 34px;
  opacity: 1;
}
/* line 226, ../sass/style.scss */
.header ul li a img:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* line 234, ../sass/style.scss */
.header .arrow-down {
  position: absolute;
  bottom: 55px;
  right: 42px;
}
/* line 238, ../sass/style.scss */
.header .arrow-down img {
  width: 45px;
}

/* line 243, ../sass/style.scss */
.midle-container {
  background-image: url(../img/content.png);
}
/* line 245, ../sass/style.scss */
.midle-container .top-block {
  text-align: center;
  background-color: #E6E6E6;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* line 250, ../sass/style.scss */
.midle-container .top-block img {
  width: 222px;
}
/* line 253, ../sass/style.scss */
.midle-container .top-block h3 {
  margin-top: 23px;
  font-size: 50px;
  color: #333;
}
/* line 258, ../sass/style.scss */
.midle-container .top-block p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  font-family: 'Roboto-Light';
}
/* line 266, ../sass/style.scss */
.midle-container .left-first-block {
  float: left;
  position: relative;
  width: 22%;
}
/* line 270, ../sass/style.scss */
.midle-container .left-first-block img {
  width: 100%;
}
/* line 274, ../sass/style.scss */
.midle-container .midle-first-block {
  float: left;
  margin: 0.5% 1% 1% 5%;
  width: 48.1%;
  position: relative;
}
/* line 279, ../sass/style.scss */
.midle-container .midle-first-block img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
}
/* line 286, ../sass/style.scss */
.midle-container .right-first-block {
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  float: right;
  position: relative;
  width: 23%;
  margin: 0.5% 0% 1% 0%;
  height: 505px;
}
/* line 295, ../sass/style.scss */
.midle-container .right-first-block img {
  width: 100%;
  position: absolute;
}
/* line 299, ../sass/style.scss */
.midle-container .right-first-block p {
  position: relative;
  margin-top: 87%;
  margin-left: 10%;
  margin-right: 5%;
  line-height: 20px;
  overflow: hidden;
  height: 100px;
}
/* line 309, ../sass/style.scss */
.midle-container .right-first-block .triangle img {
  position: relative;
}

/* line 314, ../sass/style.scss */
.triangle {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 50px;
}
/* line 319, ../sass/style.scss */
.triangle img {
  box-shadow: none !important;
}
/* line 322, ../sass/style.scss */
.triangle:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* line 328, ../sass/style.scss */
.wrapp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 337, ../sass/style.scss */
.under-midle-block .left-second-block {
  float: left;
  background-color: #0071BC;
  width: 20%;
  margin-left: 1%;
  margin-top: 0.5%;
  padding-top: 1%;
  height: 500px;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
}
/* line 350, ../sass/style.scss */
.under-midle-block .left-second-block .left-second-wrapp {
  padding: 30px 20px;
}
/* line 353, ../sass/style.scss */
.under-midle-block .left-second-block .head-text {
  color: white;
  font-size: 24px;
}
/* line 357, ../sass/style.scss */
.under-midle-block .left-second-block .title {
  margin-top: 60px;
  font-size: 55px;
  color: white;
}
/* line 362, ../sass/style.scss */
.under-midle-block .left-second-block .description-text {
  margin-top: 7px;
  font-size: 23px;
  color: white;
}
/* line 368, ../sass/style.scss */
.under-midle-block .midle-second-block {
  float: left;
  width: 58%;
  margin-left: 1%;
  margin-top: -6%;
  position: relative;
}
/* line 374, ../sass/style.scss */
.under-midle-block .midle-second-block .big-img {
  width: 100%;
}
/* line 378, ../sass/style.scss */
.under-midle-block .right-second-block {
  float: right;
  position: relative;
  width: 19%;
  background-color: #00A99D;
  height: 535px;
  margin-top: -6%;
}

/* line 389, ../sass/style.scss */
.over-footer-block .left-third-block {
  float: left;
  width: 21.7%;
  position: relative;
  background-color: #39B54A;
  height: 590px;
  margin-top: 1%;
  margin-left: 1%;
}
/* line 398, ../sass/style.scss */
.over-footer-block .midle-third-block {
  float: left;
  position: relative;
  width: 45%;
  margin-left: 2%;
  margin-top: -0.4%;
  webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
}
/* line 408, ../sass/style.scss */
.over-footer-block .midle-third-block .big-img {
  width: 100%;
}
/* line 412, ../sass/style.scss */
.over-footer-block .right-third-block {
  float: right;
  width: 28.3%;
  position: relative;
  margin-top: -5%;
  margin-bottom: -3px;
}
/* line 418, ../sass/style.scss */
.over-footer-block .right-third-block .big-img {
  width: 100%;
}

/* line 424, ../sass/style.scss */
.fourth-block .left-fourth-block {
  float: left;
  width: 20%;
  margin-left: 1%;
  background-color: #662D91;
  height: 620px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
}
/* line 436, ../sass/style.scss */
.fourth-block .left-fourth-block .left-fourth-wrapp {
  padding: 20px 35px;
}
/* line 439, ../sass/style.scss */
.fourth-block .left-fourth-block .title {
  margin-top: 32%;
  font-size: 42px;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
}
/* line 446, ../sass/style.scss */
.fourth-block .left-fourth-block .description-text {
  margin-top: 45px;
  font-size: 45px;
  color: white;
  line-height: 53px;
}
/* line 453, ../sass/style.scss */
.fourth-block .midle-fourth-block {
  width: 78%;
  position: relative;
  float: left;
  margin-left: 1%;
}
/* line 458, ../sass/style.scss */
.fourth-block .midle-fourth-block .big-img {
  width: 100%;
}

/* line 463, ../sass/style.scss */
.fifth-block {
  margin-top: 32px;
  margin-bottom: 20px;
}
/* line 466, ../sass/style.scss */
.fifth-block .left-fifth-block {
  position: relative;
  float: left;
  width: 16.6%;
  margin-left: 1%;
}
/* line 471, ../sass/style.scss */
.fifth-block .left-fifth-block .brend-block {
  padding-top: 13%;
  background: white;
}
/* line 474, ../sass/style.scss */
.fifth-block .left-fifth-block .brend-block img {
  width: 100%;
  margin-bottom: 14.5px;
}
/* line 480, ../sass/style.scss */
.fifth-block .midle-fifth-block {
  float: left;
  width: 60%;
  margin-left: 1%;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
}
/* line 489, ../sass/style.scss */
.fifth-block .midle-fifth-block .big-img {
  width: 100%;
}
/* line 493, ../sass/style.scss */
.fifth-block .right-fifth-block {
  float: right;
  width: 20%;
  background: #0071BC;
  height: 646px;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
  box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
}
/* line 503, ../sass/style.scss */
.fifth-block .right-fifth-block .right-fifth-wrapp {
  padding: 30px 20px;
}
/* line 506, ../sass/style.scss */
.fifth-block .right-fifth-block .head-text {
  font-size: 24px;
  color: white;
}
/* line 510, ../sass/style.scss */
.fifth-block .right-fifth-block .title {
  margin-top: 16%;
  font-size: 56px;
  color: white;
}
/* line 515, ../sass/style.scss */
.fifth-block .right-fifth-block .description-text {
  margin-top: 1.5%;
  font-size: 23px;
  color: white;
}

/* line 522, ../sass/style.scss */
.developers-wrapp {
  padding: 1% 4% 46px 4%;
}
/* line 524, ../sass/style.scss */
.developers-wrapp .dev {
  float: left;
  width: 24%;
  margin-right: 1.333%;
  text-align: center;
  color: white;
  height: 630px;
  padding-top: 2%;
  overflow: hidden;
  position: relative;
}
/* line 534, ../sass/style.scss */
.developers-wrapp .dev .dev-ico-wrapp {
  height: 380px;
}
/* line 536, ../sass/style.scss */
.developers-wrapp .dev .dev-ico-wrapp .dev-ico {
  width: 80%;
  margin-top: 35px;
}
/* line 541, ../sass/style.scss */
.developers-wrapp .dev .name {
  font-size: 35px;
  padding: 0 10px;
  margin-top: 35px;
}
/* line 546, ../sass/style.scss */
.developers-wrapp .dev .description-text {
  font-size: 23px;
  margin-top: 6%;
  padding: 0 15px;
  text-align: left;
}
/* line 553, ../sass/style.scss */
.developers-wrapp .developers1 {
  background-color: #00A99D;
}
/* line 554, ../sass/style.scss */
.developers-wrapp .developers2 {
  background-color: #006B8C;
}
/* line 555, ../sass/style.scss */
.developers-wrapp .developers3 {
  background-color: #2E3192;
}
/* line 556, ../sass/style.scss */
.developers-wrapp .developers4 {
  background-color: #29ABE2;
  margin: 0;
}

/* line 560, ../sass/style.scss */
.footer {
  background: #333333 url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 4%;
}
/* line 566, ../sass/style.scss */
.footer .left-elems {
  float: left;
  margin-top: 4%;
  margin-left: 7.5%;
  width: 22%;
}
/* line 572, ../sass/style.scss */
.footer .logo-img {
  width: 230px;
}
/* line 575, ../sass/style.scss */
.footer .logo-text {
  font-size: 45px;
  margin: 0;
  font-family: 'Roboto-Regular';
  color: white;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin-left: -6%;
  margin-top: 3%;
}
/* line 584, ../sass/style.scss */
.footer .logo-text span {
  color: #ED1C24;
}
/* line 588, ../sass/style.scss */
.footer .footer-text {
  padding-top: 6.5%;
  color: white;
  line-height: 48px;
  font-family: 'Roboto-Regular';
  font-size: 25px;
}
/* line 594, ../sass/style.scss */
.footer .footer-text p:nth-child(1) {
  font-size: 30px;
}
/* line 599, ../sass/style.scss */
.footer .social-wrapp {
  position: absolute;
  bottom: 9%;
  right: 0;
}
/* line 603, ../sass/style.scss */
.footer .social-wrapp ul {
  padding-left: 0;
  margin-right: 25px;
}
/* line 606, ../sass/style.scss */
.footer .social-wrapp ul li {
  display: inline-block;
}
/* line 609, ../sass/style.scss */
.footer .social-wrapp ul li a img {
  width: 50px;
  margin-right: 20px;
}

@media (max-width: 1366px) {
  /* line 620, ../sass/style.scss */
  .header {
    padding-top: 57%;
  }
  /* line 623, ../sass/style.scss */
  .header .slider-text h2 {
    font-size: 35px;
  }
  /* line 626, ../sass/style.scss */
  .header .slider-text .big-text {
    font-size: 35px;
    line-height: 35px;
  }
  /* line 630, ../sass/style.scss */
  .header .slider-text .litle-text {
    margin-left: 0;
  }
  /* line 635, ../sass/style.scss */
  .header .social-wrapp ul li {
    margin-bottom: 10px;
  }
  /* line 640, ../sass/style.scss */
  .header .vertical-pagination a {
    width: 25px;
    height: 25px;
  }

  /* line 647, ../sass/style.scss */
  .midle-container .top-block h3 {
    font-size: 35px;
  }
  /* line 650, ../sass/style.scss */
  .midle-container .top-block p {
    font-size: 18px;
    line-height: 20px;
  }

  /* line 655, ../sass/style.scss */
  .midle-container .right-first-block {
    height: 360px;
  }

  /* line 658, ../sass/style.scss */
  .under-midle-block .left-second-block {
    height: 325px;
  }
  /* line 660, ../sass/style.scss */
  .under-midle-block .left-second-block .title {
    font-size: 35px;
  }
  /* line 663, ../sass/style.scss */
  .under-midle-block .left-second-block .description-text {
    font-size: 18px;
    line-height: 20px;
  }

  /* line 668, ../sass/style.scss */
  .under-midle-block .midle-second-block {
    margin-left: 1%;
    width: 57%;
  }

  /* line 672, ../sass/style.scss */
  .under-midle-block .right-second-block {
    height: 370px;
    width: 19%;
  }

  /* line 676, ../sass/style.scss */
  .over-footer-block .left-third-block {
    height: 440px;
  }

  /* line 679, ../sass/style.scss */
  .over-footer-block .right-third-block {
    margin-top: -3%;
    margin-bottom: -4px;
  }

  /* line 685, ../sass/style.scss */
  .fourth-block .left-fourth-block {
    height: 450px;
  }
  /* line 687, ../sass/style.scss */
  .fourth-block .left-fourth-block .title {
    font-size: 35px;
  }
  /* line 690, ../sass/style.scss */
  .fourth-block .left-fourth-block .description-text {
    font-size: 18px;
    margin-top: 15px;
    line-height: 20px;
  }

  /* line 698, ../sass/style.scss */
  .fifth-block .left-fifth-block .brend-block img {
    margin-bottom: 12px;
  }
  /* line 701, ../sass/style.scss */
  .fifth-block .right-fifth-block {
    height: 465px;
  }
  /* line 703, ../sass/style.scss */
  .fifth-block .right-fifth-block .title {
    font-size: 35px;
  }
  /* line 706, ../sass/style.scss */
  .fifth-block .right-fifth-block .description-text {
    font-size: 18px;
    margin-top: 15px;
    line-height: 20px;
  }

  /* line 714, ../sass/style.scss */
  .developers-wrapp .dev {
    height: 500px;
  }
  /* line 716, ../sass/style.scss */
  .developers-wrapp .dev .name {
    font-size: 25px;
  }
  /* line 719, ../sass/style.scss */
  .developers-wrapp .dev .dev-ico-wrapp {
    height: 278px;
  }
  /* line 722, ../sass/style.scss */
  .developers-wrapp .dev .description-text {
    font-size: 20px;
  }

  /* line 727, ../sass/style.scss */
  .footer .logo-img {
    width: 160px;
  }
  /* line 731, ../sass/style.scss */
  .footer .footer-text p {
    font-size: 18px;
    line-height: 23px;
  }
  /* line 735, ../sass/style.scss */
  .footer .footer-text p:nth-child(1) {
    font-size: 20px;
  }
  /* line 739, ../sass/style.scss */
  .footer .logo-text {
    font-size: 30px;
  }
  /* line 742, ../sass/style.scss */
  .footer .social-wrapp {
    bottom: 15px;
  }
  /* line 747, ../sass/style.scss */
  .footer .social-wrapp ul li a img {
    width: 35px;
    margin-right: 5px;
  }
}
@media (max-width: 1280px) {
  /* line 760, ../sass/style.scss */
  .header {
    padding-top: 75%;
  }

  /* line 763, ../sass/style.scss */
  .midle-container .right-first-block {
    height: 350px;
  }
  /* line 765, ../sass/style.scss */
  .midle-container .right-first-block p {
    margin-top: 6%;
  }
  /* line 768, ../sass/style.scss */
  .midle-container .right-first-block .triangle {
    bottom: 11%;
  }

  /* line 773, ../sass/style.scss */
  .under-midle-block .midle-second-block {
    margin-top: -4.4%;
    width: 57%;
  }

  /* line 777, ../sass/style.scss */
  .fourth-block .left-fourth-block {
    height: 425px;
  }

  /* line 780, ../sass/style.scss */
  .over-footer-block .left-third-block {
    height: 415px;
  }

  /* line 783, ../sass/style.scss */
  .fifth-block {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  /* line 786, ../sass/style.scss */
  .fifth-block .left-fifth-block .brend-block img {
    margin-bottom: 11px;
  }
  /* line 789, ../sass/style.scss */
  .fifth-block .right-fifth-block {
    height: 435px;
  }
}
@media (max-width: 1100px) {
  /* line 797, ../sass/style.scss */
  .midle-container .right-first-block {
    height: 300px;
  }
}
@media (max-width: 1000px) {
  /* line 803, ../sass/style.scss */
  .midle-container .left-first-block,
  .fifth-block .left-fifth-block,
  .over-footer-block .right-third-block {
    display: none;
  }

  /* line 808, ../sass/style.scss */
  .midle-container .midle-first-block,
  .midle-container .right-first-block,
  .under-midle-block .left-second-block,
  .under-midle-block .midle-second-block,
  .under-midle-block .right-second-block,
  .over-footer-block .left-third-block,
  .over-footer-block .midle-third-block,
  .fourth-block .left-fourth-block,
  .fourth-block .midle-fourth-block,
  .fifth-block .midle-fifth-block,
  .fifth-block .right-fifth-block {
    float: none;
    width: 100%;
    margin: 20px 0;
    height: auto;
  }

  /* line 825, ../sass/style.scss */
  .wrapp {
    position: relative;
    padding-bottom: 75px !important;
  }

  /* line 829, ../sass/style.scss */
  .developers-wrapp .dev {
    width: 48%;
    margin-bottom: 20px;
  }
  /* line 832, ../sass/style.scss */
  .developers-wrapp .dev .wrapp {
    position: absolute;
  }
  /* line 835, ../sass/style.scss */
  .developers-wrapp .dev .dev-ico-wrapp .dev-ico {
    width: 54%;
  }

  /* line 839, ../sass/style.scss */
  .fourth-block .left-fourth-block .title {
    margin-top: 15px;
  }
}
