/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'bebas_neuebold';
  src: url('../fonts/bebasneue/bebasneue_bold-webfont.eot');
  src: url('../fonts/bebasneue/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebasneue/bebasneue_bold-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue/bebasneue_bold-webfont.woff') format('woff'),
  url('../fonts/bebasneue/bebasneue_bold-webfont.ttf') format('truetype'),
  url('../fonts/bebasneue/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/regular/roboto-regular-webfont.eot');
  src: url('../fonts/Roboto/regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/regular/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/regular/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/Roboto/regular/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/Roboto/regular/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/light/roboto-light-webfont.eot');
  src: url('../fonts/Roboto/light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/light/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/light/roboto-light-webfont.woff') format('woff'),
  url('../fonts/Roboto/light/roboto-light-webfont.ttf') format('truetype'),
  url('../fonts/Roboto/light/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/bold/roboto-bold-webfont.eot');
  src: url('../fonts/Roboto/bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/bold/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/bold/roboto-bold-webfont.woff') format('woff'),
  url('../fonts/Roboto/bold/roboto-bold-webfont.ttf') format('truetype'),
  url('../fonts/Roboto/bold/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.clear{
  clear:both;
}
/*---------------------------------------------------*/
.page {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto-Regular';
}
.header{
  position: relative;
  padding-top: 50%;
  background: url("../img/fishies_original.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.header-wrapp{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.top-menu{
  .logo-name{
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 32px;
    margin: 0;
    font-family: 'Roboto-Regular';
    color: white;
    letter-spacing: -0.2px;
    span{
      color: #ED1C24;
    }
  }
  .hiden-list-button{
    float: right;
    margin-top: 1.8%;
    margin-right: 4.8%;
    a{
      text-decoration: none;
      color: white;
      font-family: 'Roboto-Bold';
      font-size: 55px;
      font-weight: bold;
      &:hover{
        opacity:0.5;
      }
    }
  }
}
.logo{
  position: absolute;
  left: 50%;
  width: 17%;
  top: 42%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.header{
  .vertical-pagination{
    position: absolute;
    bottom: 46.5%;
    left: 1.2%;
    width: 50px;

    a{
      border: 3px solid #fff;
      width: 36px;
      height: 36px;
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      opacity: 0.5;
      &.active{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
    }
    p{
      border: 1px solid #fff;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: white;
      margin: 7px auto;
    }
  }
  .slider-text{
    color: white;
    position: absolute;
    font-family: 'Roboto-Regular';
    bottom: 22.5%;
    left: 11.2%;
    h2{
      font-size: 59px;
      margin-left: -8px;
    }
    .big-text{
      font-size: 59px;
      margin-left: -8px;
      line-height: 80px;
      margin-top: 13px;
      letter-spacing: 1px;
      color: #F2F2F2;
      opacity: 0.7;
    }
    .litle-text{
      font-size: 24px;
      margin-top: 9px;
      margin-left: 14px;
      font-family: 'Roboto-Light';
      color: #F2F2F2;
      opacity: 0.6;
    }
  }
  .horizontal-pagination{
    position: absolute;
    bottom: 16.5%;
    left: 12%;
    a{
      border: 1px solid #fff;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.8;
      &.active{
        background: #fff;
        opacity: 1;
      }
      &:hover{background: #fff;}
      opacity: 1;
    }
    span{
      border: 1px solid #fff;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: super;
      background-color: #fff;
    }
  }
  .social-wrapp{
    position: absolute;
    right: 3px;
    top: 24.5%;
  }
  ul{
    li{
      margin-bottom: 20px;
      a{
        img{
          width: 34px;
          opacity:1;
          &:hover{
            opacity: 0.5;
            cursor: pointer;
          }
        }
      }
    }
  }
  .arrow-down{
    position: absolute;
    bottom: 55px;
    right: 42px;
    img{
      width: 45px;
    }
  }
}
.midle-container{
background-image: url(../img/content.png);
  .top-block{
    text-align: center;
    background-color: #E6E6E6;
    padding-top: 2%;
    padding-bottom: 2%;
    img{
      width: 222px;
    }
    h3{
      margin-top: 23px;
      font-size: 50px;
      color: #333;
    }
    p{
      margin-top: 10px;
      font-size: 22px;
      line-height: 30px;
      color:#000;
      font-family: 'Roboto-Light';
    }
  }
  .left-first-block{
    float: left;
    position: relative;
    width: 22%;
    img{
      width: 100%;
    }
  }
  .midle-first-block{
    float: left;
    margin: 0.5% 1% 1% 5%;
    width: 48.1%;
    position: relative;
    img{
      width: 100%;
      -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
      -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
      box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
    }
  }
  .right-first-block{
    -webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
    box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
    float: right;
    position: relative;
    width: 23%;
    margin: 0.5% 0% 1% 0%;
    height: 505px;
    img{
      width: 100%;
      position: absolute;
    }
    p{
      position: relative;
      margin-top: 87%;
      margin-left: 10%;
      margin-right: 5%;
      line-height: 20px;
      overflow: hidden;
      height: 100px;
    }
    .triangle{
      img{position: relative;}
    }
  }
}

.triangle{
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 50px;
  img{
    box-shadow: none !important;
  }
  &:hover{
    opacity: 0.5;
    cursor: pointer;
  }
}

.wrapp{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
}
.under-midle-block{
  .left-second-block{
    float: left;
    background-color: #0071BC;
    width: 20%;
    margin-left: 1%;
    margin-top: 0.5%;
    padding-top: 1%;
    height: 500px;
    position: relative;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    .left-second-wrapp{
      padding: 30px 20px;
    }
    .head-text{
      color: white;
      font-size: 24px;
    }
    .title{
      margin-top: 60px;
      font-size: 55px;
      color:white;
    }
    .description-text{
      margin-top: 7px;
      font-size: 23px;
      color: white;
    }
  }
  .midle-second-block{
    float: left;
    width: 58%;
    margin-left: 1%;
    margin-top: -6%;
    position: relative;
    .big-img{
      width:100%;
    }
  }
  .right-second-block{
    float: right;
    position: relative;
    width: 19%;
    background-color: #00A99D;
    height: 535px;
    margin-top: -6%;
  }
}

.over-footer-block{
  .left-third-block{
    float: left;
    width: 21.7%;
    position: relative;
    background-color: #39B54A;
    height: 590px;
    margin-top: 1%;
    margin-left: 1%;
  }
  .midle-third-block{
    float: left;
    position: relative;
    width: 45%;
    margin-left: 2%;
    margin-top: -0.4%;

    webkit-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
    box-shadow: 10px 10px 15px 0px rgba(51, 51, 51, 0.4);
    .big-img{
      width: 100%;
    }
  }
  .right-third-block{
    float: right;
    width: 28.3%;
    position: relative;
    margin-top: -5%;
    margin-bottom: -3px;
    .big-img{
      width: 100%;
    }
  }
}
.fourth-block{
  .left-fourth-block{
    float: left;
    width: 20%;
    margin-left: 1%;
    background-color: #662D91;
    height: 620px;
    overflow: hidden;
    position: relative;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    .left-fourth-wrapp{
      padding: 20px 35px;
    }
    .title{
      margin-top: 32%;
      font-size: 42px;
      letter-spacing: 4px;
      color: white;
      text-transform: uppercase;
    }
    .description-text{
      margin-top: 45px;
      font-size: 45px;
      color: white;
      line-height: 53px;
    }
  }
  .midle-fourth-block{
    width: 78%;
    position: relative;
    float: left;
    margin-left: 1%;
    .big-img{
      width:100%;
    }
  }
}
.fifth-block{
  margin-top: 32px;
  margin-bottom: 20px;
  .left-fifth-block{
    position: relative;
    float: left;
    width: 16.6%;
    margin-left: 1%;
    .brend-block{
      padding-top: 13%;
      background: white;
      img{
        width: 100%;
        margin-bottom: 14.5px;
      }
    }
  }
  .midle-fifth-block{
    float: left;
    width: 60%;
    margin-left: 1%;
    position: relative;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    .big-img{
      width: 100%;
    }
  }
  .right-fifth-block{
    float: right;
    width: 20%;
    background: #0071BC;
    height: 646px;
    position: relative;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    -moz-box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    box-shadow: 10px 10px 15px 0px rgba(51,51,51,0.4);
    .right-fifth-wrapp{
      padding: 30px 20px;
    }
    .head-text{
      font-size: 24px;
      color: white;
    }
    .title{
      margin-top: 16%;
      font-size: 56px;
      color: white;
    }
    .description-text{
      margin-top: 1.5%;
      font-size: 23px;
      color: white;
    }
  }
}
.developers-wrapp{
  padding: 1% 4% 46px 4%;
  .dev{
    float: left;
    width: 24%;
    margin-right: 1.333%;
    text-align: center;
    color: white;
    height: 630px;
    padding-top: 2%;
    overflow: hidden;
    position: relative;
    .dev-ico-wrapp{
      height: 380px;
      .dev-ico{
        width: 80%;
        margin-top: 35px;
      }
    }
    .name{
      font-size: 35px;
      padding: 0 10px;
      margin-top: 35px;
    }
    .description-text{
      font-size: 23px;
      margin-top: 6%;
      padding: 0 15px;
      text-align: left;
    }
  }
  .developers1{background-color: #00A99D}
  .developers2{background-color: #006B8C}
  .developers3{background-color: #2E3192}
  .developers4{background-color: #29ABE2;
    margin: 0;
  }
}
.footer{
  background: #333333 url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 4%;
  .left-elems{
    float: left;
    margin-top: 4%;
    margin-left: 7.5%;
    width: 22%;
  }
  .logo-img{
    width: 230px;
  }
  .logo-text{
    font-size: 45px;
    margin: 0;
    font-family: 'Roboto-Regular';
    color: white;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin-left: -6%;
    margin-top: 3%;
    span{
      color: #ED1C24;
    }
  }
  .footer-text{
    padding-top: 6.5%;
    color: white;
    line-height: 48px;
    font-family: 'Roboto-Regular';
    font-size: 25px;
    p:nth-child(1){
      font-size: 30px;

    }
  }
  .social-wrapp{
    position: absolute;
    bottom: 9%;
    right: 0;
    ul{
      padding-left: 0;
      margin-right: 25px;
      li{
        display: inline-block;
        a{
          img{
            width: 50px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .header{
    padding-top: 57%;
    .slider-text{
      h2{
        font-size: 35px;
      }
      .big-text{
        font-size: 35px;
        line-height: 35px;
      }
      .litle-text{
        margin-left: 0;
      }
    }
    .social-wrapp{
      ul li{
        margin-bottom: 10px;
      }
    }
    .vertical-pagination{
      a{
        width: 25px;
        height: 25px;
      }
    }
  }
  .midle-container .top-block{
    h3{
      font-size: 35px;
    }
    p{
      font-size: 18px;
      line-height: 20px;
    }
  }
  .midle-container .right-first-block{
    height: 360px;
  }
  .under-midle-block .left-second-block{
    height: 325px;
    .title{
      font-size: 35px;
    }
    .description-text{
      font-size: 18px;
      line-height: 20px;
    }
  }
  .under-midle-block .midle-second-block{
    margin-left: 1%;
    width: 57%;
  }
  .under-midle-block .right-second-block{
    height: 370px;
    width: 19%;
  }
  .over-footer-block .left-third-block{
    height: 440px;
  }
  .over-footer-block .right-third-block{
    margin-top: -3%;
    margin-bottom: -4px;
  }
  .fourth-block{

    .left-fourth-block{
      height: 450px;
      .title{
        font-size: 35px;
      }
      .description-text{
        font-size: 18px;
        margin-top: 15px;
        line-height: 20px;
      }
    }
  }
  .fifth-block{
    .left-fifth-block .brend-block img{
      margin-bottom: 12px;
    }
    .right-fifth-block{
      height: 465px;
      .title{
        font-size: 35px;
      }
      .description-text{
        font-size: 18px;
        margin-top: 15px;
        line-height: 20px;
      }
    }
  }

  .developers-wrapp .dev{
    height: 500px;
    .name{
      font-size: 25px;
    }
    .dev-ico-wrapp{
      height: 278px;
    }
    .description-text{
      font-size: 20px;
    }
  }
  .footer{
    .logo-img{
      width: 160px;
    }
    .footer-text {
      p{
        font-size: 18px;
        line-height: 23px;
      }
      p:nth-child(1){
        font-size: 20px;
      }
    }
    .logo-text{
      font-size: 30px;
    }
    .social-wrapp{
      bottom: 15px;
      ul{
        li{
          a{
            img{
              width: 35px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1280px) {
  .header{
    padding-top: 75%;
  }
  .midle-container .right-first-block{
    height: 350px;
    p{
      margin-top: 6%;
    }
    .triangle{
      bottom: 11%;
    }
  }

  .under-midle-block .midle-second-block{
    margin-top: -4.4%;
    width: 57%;
  }
  .fourth-block .left-fourth-block{
    height: 425px;
  }
  .over-footer-block .left-third-block{
    height: 415px;
  }
  .fifth-block{
    margin-top: 15px;
    margin-bottom: 10px;
    .left-fifth-block .brend-block img{
      margin-bottom: 11px;
    }
    .right-fifth-block{
      height: 435px;
    }
  }

}

@media (max-width: 1100px) {
  .midle-container .right-first-block{
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .midle-container .left-first-block,
  .fifth-block .left-fifth-block,
  .over-footer-block .right-third-block{
    display: none;
  }
  .midle-container .midle-first-block,
  .midle-container .right-first-block,
  .under-midle-block .left-second-block,
  .under-midle-block .midle-second-block,
  .under-midle-block .right-second-block,
  .over-footer-block .left-third-block,
  .over-footer-block .midle-third-block,
  .fourth-block .left-fourth-block,
  .fourth-block .midle-fourth-block,
  .fifth-block .midle-fifth-block,
  .fifth-block .right-fifth-block
  {
    float: none;
    width:100%;
    margin: 20px 0;
    height: auto;
  }
  .wrapp{
    position: relative;
    padding-bottom: 75px !important;
  }
  .developers-wrapp .dev{
    width: 48%;
    margin-bottom: 20px;
    .wrapp{
      position: absolute;
    }
    .dev-ico-wrapp .dev-ico{
      width: 54%;
    }
  }
  .fourth-block .left-fourth-block .title{
    margin-top: 15px;
  }
}